@font-face {
  font-family: 'RobotoMono';
  src: url('./fonts/RobotoMono-Medium.ttf')
}

body {
  margin: 0;
  font-family: 'RobotoMono', monospace, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
